<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        html {
            background: #2f2d2d;
            color: #fff;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        ul {
            list-style-type: none;
            line-height: 40px;
        }
    </style>
</head>

<body>
    <h1>HOME</h1>

    <ul>
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
    </ul>

</body>

</html>