

body {
    background-image: url("../images/stars.png");
}



h1 {
    font-size: large;
    color: white;
}

p {
    color: white;
}

.mot {
    color: white;
}

#containerHoth {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#containerHoth canvas {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
