{{ template "base" . }}

{{ define "content" }}
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veniam dolorem! Ducimus, illo officiis, error vero ipsum atque consequatur quod quidem, molestiae rerum ea eaque laboriosam ratione sequi iste dolores.</p>
{{ end }}