{{ template "base" . }}

{{ define "content" }}

<body id="corruscantBody">

    <div class="CorruscantBackgroundUI">

        <p class="mot_secret_corruscant">{{.Mot_secret}}</p>

        <form id="hangmanForm" method="post" action="/corruscant">

            <div class="keyboardCorruscant">
            <!-- Boutons de lettre -->
                <button type="submit" class="buttonCorruscant" name="letter" value="A">A</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="B">B</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="C">C</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="D">D</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="E">E</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="F">F</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="G">G</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="H">H</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="I">I</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="J">J</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="K">K</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="L">L</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="M">M</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="N">N</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="O">O</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="P">P</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="Q">Q</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="R">R</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="S">S</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="T">T</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="U">U</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="V">V</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="W">W</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="X">X</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="Y">Y</button>
                <button type="submit" class="buttonCorruscant" name="letter" value="Z">Z</button>
                
            </div>
        </form>

        <button class="buttonCorruscant" id="deco" onclick="location.href='algerie2'">?</button>

        <button class="buttonCorruscant" id="main_menu" onclick="location.href='/'">Go back to main menu</button>

        {{ if .Lost }}
            <p class="lost">You lost, the word was {{ .Word }}</p>
        {{ end }}

        {{ if .Win }}
            <p class="win">You win !</p>
        {{ end }}

        <p class="try">Try : {{ .Try }} </p>

    </div>

</body>

{{ end }}