{{ template "base" . }}

{{ define "content" }}

    <body>

        <h1 class="title">HANGMAN STAR WARS</h1>

        <canvas id="canvas"></canvas>

        <a href="/hothvideo"><img src="assets/images/hud_futuristic_hoth2.png" alt="" class="card" id="hoth"></a>
        <a href="/corruscantvideo"><img src="assets/images/hud_futuristic_corruscant.png" alt="" class="card" id="coruscant"></a>
        <a href="/korribanvideo"><img src="assets/images/hud_futuristic_korriban.png" alt="" class="card" id="korriban"></a>
        <a href="/mustafarvideo"><img src="assets/images/hud_futuristic_mustafar3.png" alt="" class="card" id="mustafar"></a>       

        <script type="module" src="assets/js/main.js">
            import * as THREE from "https://cdn.skypack.dev/three";
        </script>

    </body>

{{ end }}