{{ template "base" . }}

{{ define "content" }}

    <body>

        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veniam dolorem! Ducimus, illo officiis, error vero ipsum atque consequatur quod quidem, molestiae rerum ea eaque laboriosam ratione sequi iste dolores.</p>
    
        <p class="mot">{{.Word}}</p>

        <div id="containerHoth"></div>

        <script type="module" src="assets/js/main.js">
            import * as THREE from "https://cdn.skypack.dev/three";
        </script>

    </body>

{{ end }}